version: '3.9'
services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dkee
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: .
    restart: unless-stopped
    env_file: .env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/dkee?schema=public
      NEXTAUTH_URL: http://localhost:3000
      NEXTAUTH_SECRET: dev_secret_change_me
      EXPORT_SECRET: dev_export_secret
      REDIS_URL: redis://redis:6379
    depends_on:
      - postgres
      - redis
    ports:
      - "3000:3000"
    command: sh -c "npx prisma migrate deploy && npm run start"

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server","--save","","--appendonly","no"]

volumes:
  postgres_data:
